@IMPORT url("bootstrap.css");
@import url('bootstrap-responsive.css');
@import url('bootstrap.icon-large.min.css');
@import url('style.css');
@import url('glyphicon-14.css');
@import url('docs.css');
@import url('jquery.fileupload-ui.css');
@import url('backgrid.css');


.img-thumbnail > img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}